<p>Current API reported time: <%= @apitime %></p>


<p>Destination: <%= @destination %></p>
<br>

<p>Train 1: <%= @train1 %> minutes</p>
<p>Train 2: <%= @train2 %> minutes</p>
<p>Train 3: <%= @train3 %> minutes</p>
